name: Generate Contribution Snake

on:
  schedule:
    - cron: "0 0 * * *"   # tiap hari
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: Platane/snk@v3
        with:
          github_user_name: AikoAii
          outputs: |
            dist/github-snake.svg
            dist/github-snake-mocha.svg?color_snake=#f5c2e7&color_dots=#1e1e2e,#313244,#45475a,#585b70,#cdd6f4
            dist/ocean.gif?color_snake=#89dceb&color_dots=#1e1e2e,#313244,#45475a,#585b70,#cdd6f4&color_background=#0b1220

      - name: Push snake files
        uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
